@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* font-family: "Josefin Sans", sans-serif; */
    font-family: "Roboto", sans-serif;
  }
}
img {
  width: 100%;
  max-width: 100%;
}
header {
  background-color: transparent;
}
nav.open {
  background-color: #cddef5;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  width: 75vw;
  padding: 1.25rem;
  opacity: 1;
  z-index: 9999999999;
}

/* desktop screen size */
@media (min-with: 1024px) {
  nav.open {
    position: relative;
    width: auto;
    background-color: transparent;
    padding: 0;
    z-index: auto;
    opacity: 1;
  }
}

/* fade animation for images */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
